<!DOCTYPE html>
<html lang="pt-PT">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dicas Gerais - NuTrainerAi</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="sidebar">
        <h2>Menu</h2>
        <ul>
            <li><a href="index.html">Sobre</a></li>
            <li><a href="dicas.html">Dicas Gerais</a></li>
            <li><a href="consulta.html">Consulta de Treinos e Dietas</a></li>
        </ul>
    </div>

    <div class="main-content">
        <header>
            <h1>Dicas Gerais</h1>
        </header>
        <main>
            <section>
                <h2>Pesquise por Dicas</h2>
                <input type="text" placeholder="Digite sua pergunta sobre treinos ou dietas">
                <button>Pesquisar</button>
                <div class="resultados-pesquisa">
                    <h3>Dicas de Treino</h3>
                    <ul>
                        <li>Realize um aquecimento adequado antes de iniciar os treinos.</li>
                        <li>Mantenha uma hidratação constante durante os exercícios.</li>
                        <li>Varie seus treinos para evitar a monotonia e lesões.</li>
                    </ul>
                    <h3>Dicas de Dieta</h3>
                    <ul>
                        <li>Consuma uma variedade de alimentos para obter todos os nutrientes.</li>
                        <li>Evite alimentos processados e ricos em açúcar.</li>
                        <li>Faça refeições balanceadas com proteínas, carboidratos e gorduras saudáveis.</li>
                    </ul>
                </div>
            </section>
        </main>
        <footer>
            <p>2024 - NuTrainerAi. Todos os direitos reservados</p>
            <p>Entre em contato pelo email: contato@nutrainerai.com</p>
        </footer>
    </div>
</body>
</html>
