<!DOCTYPE html>
<html lang="pt-PT">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NuTrainerAi - Aplicação de Treinos e Dietas</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="sidebar">
        <h2>Menu</h2>
        <ul>
            <li><a href="index.html">Sobre</a></li>
            <li><a href="exercicios.html">Exercícios</a></li>
            <li><a href="dicas.html">Treinos & Dietas</a></li>
            <li><a href="consulta.html">Consulta com o NuTrainerAi</a></li>
            <li><a href="help.html">Ajuda</a></li>
        </ul>
    </div>

    <div class="main-content">
        <header>
            <h1>Ajuda</h1>
        </header>
        <main>
            <section>
                <h2>Como obter a API Key do Gemini:</h2>
                <p>Para utilizar o seu sistema com a inteligência artificial do Gemini, é necessário gerar uma "chave de API". Esta chave possibilita a conexão do sistema com o Gemini.</p>
            </section>
            
            <section>
                <h3>Passo 1: Criar uma Conta no Gemini</h3>
                <p>Antes de gerar a chave de API, siga os passos abaixo para acessar o Gemini com sua conta Google:</p>
                <ol>
                    <li>Acesse o site oficial do Gemini <a href="https://ai.google.dev/gemini-api?hl=pt-br" target="_blank">aqui</a>.</li>
                    <li>Faça login usando sua conta Google.</li>
                    <img width="30%" src="../images/tutorialApi/01.png" alt="">
                </ol>
            </section>
            
            <section>
                <h3>Passo 2: Gerar a Chave de API do Gemini</h3>
                <p>Após fazer login, siga os passos abaixo para gerar sua chave de API:</p>
                <ol>
                    <li>Acesse a seção de geração de chave de API clicando <a href="https://aistudio.google.com/app/apikey" target="_blank">aqui</a>.</li>
                    <li>Clique no botão "Gerar Nova Chave de API".</li>
                    <img width="50%" src="../images/tutorialApi/02.png" alt="">
                    <img width="50%" src="../images/tutorialApi/03.png" alt="">
                    <img width="50%" src="../images/tutorialApi/04.png" alt="">
                    <img width="50%" src="../images/tutorialApi/05.png" alt="">

                    <li>Copie a chave gerada e guarde-a em um local seguro.</li>
                    <img width="50%" src="../images/tutorialApi/06.png" alt="">
                   
                </ol>
            </section>
            
            <section>
                <h3>Passo 3: Usar a Chave de API do Gemini</h3>
                <p>Com sua chave de API em mãos, você pode utilizá-la para fazer consultas no sistema. Veja abaixo um exemplo de como fazer uma requisição usando a chave:</p>
                  <img width="50%" src="../images/tutorialApi/07.png" alt="">
            </section>
            
            <section>
                <h2>Considerações Finais</h2>
                <p>O uso do Gemini API é gratuito, porém é importante tomar cuidado com o uso excessivo. Não me responsabilizo por quaisquer cobranças posteriores que possam ocorrer devido ao uso além dos limites gratuitos.</p>
                <p>Certifique-se de manter sua chave de API em segurança, pois ela concede acesso aos seus dados e perfil no Gemini. Para mais detalhes, consulte a documentação oficial do Gemini.</p>
            </section>
            
            
        </main>
        <footer>
            <p>2024 - NuTrainerAi. Todos os direitos reservados</p>
            <p>Entre em contato pelo email: contato@nutrainerai.com</p>
        </footer>
    </div>
</body>
</html>
