<!DOCTYPE html>
<html lang="pt-PT">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NuTrainerAi - Aplicação de Treinos e Dietas</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="sidebar">
        <h2>Menu</h2>
        <ul>
            <li><a href="index.html">Sobre</a></li>
            <li><a href="exercicios.html">Exercícios</a></li>
            <li><a href="dicas.html">Treinos & Dietas</a></li>
            <li><a href="consulta.html">Consulta com o NuTrainerAi</a></li>
            <li><a href="help.html">Ajuda</a></li>
        </ul>
    </div>

    <div class="main-content">
        <header>
            <h1>Bem-vindo ao NuTrainerAi</h1>
        </header>
        <main>
            <section id="sobre">
                <h2>Sobre o NuTrainerAi</h2>
                <p>O NuTrainerAi é uma aplicação dedicada a fornecer dicas e consultas sobre treinos e dietas personalizadas. Aqui, você pode encontrar informações valiosas para melhorar seu desempenho e saúde.</p>
                <img src="../images/banner.jpeg" alt="">
                <iframe src="https://drive.google.com/file/d/1CxwdYScRUHwDMgPWqEeIOoWOwzYFCjcc/preview" width="640" height="480" allow="autoplay"></iframe>
            </section>
        </main>
        <footer>
            <p>2024 - NuTrainerAi. Todos os direitos reservados</p>
            <p>Entre em contato pelo email: contato@nutrainerai.com</p>
        </footer>
    </div>
</body>
</html>
